<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="Configuration.Listeners"/>
    </listeners>

    <test name="Public Links Page">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="Test.PublicLinksPageTest"/>
        </classes>
    </test>

    <test name="Sand Box Page">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="Test.SanBoxPageTest"/>
        </classes>
    </test>

    <test name="Integrations Page">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="Test.IntegrationsPageTest"/>
        </classes>
    </test>
</suite>